<!-- Sign-Up Form Handlebars -->

<form id="signup" name="signup" method="post" action="/store/signup">

  <label for="first_name">Name</label>
  <input name="storeName" type="text" />

  <label for="last_name">WEb page</label>
  <input name="website" type="text" />

  <label for="phone">Phone</label>
  <input class="text" name="phone" type="text" />

  <label for="email">Email Address</label>
  <input class="email" name="email" type="email" />

  <label for="password">Password</label>
  <input name="password" type="password" />

  <input class="btn" type="submit" value="Sign Up" />
</form>
